.container{
    max-width:600px ;
    background-color: white;
    margin: 0 auto;
    border-radius:5px;
    padding:20px 40px;
    margin-top:40px;
}

.container h3{
    font-size:18px;
    text-align: center;
}


.row-user{
    display:flex;
    border-bottom:1px solid black;
}

.row-item{
    width:50%;
    padding-left:3px;
}



